body {
    font: 14px/21px 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', Georgia, serif;
}

.ds-social > i {
    margin-right: 1px;
}

h4 > a {
    text-decoration: none;
}
