<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Dmitry Savenko - Personal Web Site">
    <meta name="author" content="Dmitry Savenko">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>

    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-152x152.png"/>

    <meta name="msapplication-square70x70logo" content="/img/smalltile.png"/>
    <meta name="msapplication-square150x150logo" content="/img/mediumtile.png"/>
    <meta name="msapplication-wide310x150logo" content="/img/widetile.png"/>
    <meta name="msapplication-square310x310logo" content="/img/largetile.png"/>

</head>
<body>

<div class="container">

    <div class="sixteen columns" style="margin-top: 40px;">
        <h1 class="remove-bottom">Dmitry Savenko</h1>
        <h5>Software Engineer</h5>
        <hr/>
    </div>

    {{ content }}

</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>