<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Dmitry Savenko - Personal Web Site">
    <meta name="author" content="Dmitry Savenko">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>

    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-152x152.png"/>

    <meta name="msapplication-square70x70logo" content="/img/smalltile.png"/>
    <meta name="msapplication-square150x150logo" content="/img/mediumtile.png"/>
    <meta name="msapplication-wide310x150logo" content="/img/widetile.png"/>
    <meta name="msapplication-square310x310logo" content="/img/largetile.png"/>

    {% feed_meta %}

    <meta content="Dmitry Savenko" property="og:site_name">
    {% if page.catch %}
        <meta content="{{ page.title }}" property="og:title">
        <meta content="article" property="og:type">
        <meta content="{{ page.catch }} {{ page.readon }}" property="og:description">
        <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    {% endif %}

</head>
<body>

<div class="container">

    <div class="row">
        <div class="twelve columns" style="margin-top: 40px;">
            <a href="/" style="text-decoration: none; color: #222;"><h1>Dmitry Savenko</h1></a>
            <h5>
                Software Engineer. Get in touch:
                <span style="white-space: nowrap;">
                    <a href="mailto:ds@dsavenko.com" title="ds@dsavenko.com"><i class="fa fa-envelope-o fa-fw"></i></a>
                    <a href="https://www.linkedin.com/in/dsavenko"><i class="fa fa-linkedin fa-fw"></i></a>
                    <a href="https://github.com/dsavenko"><i class="fa fa-github fa-fw"></i></a>
                    <a href="https://bitbucket.org/dsavenko"><i class="fa fa-bitbucket fa-fw"></i></a>
                </span>
            </h5>
        </div>
    </div>

    {{ content }}

</div>

</body>
</html>